@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900,900italic);
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-pagination-bullet-size: 15px;
}

* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
}

body, html, #root {
  min-height: 100%;
}


#root {
  background: url('/public/img/background2.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-height {
  height: calc(100% - 40px);
}

.menu-item {
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 0.7;
  transition: opacity 700ms;
}
.my-node-exit {
  opacity: 0.7;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 700ms;
}

.blured {
  backdrop-filter: blur(3px);
}

.title {
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important; 

}
:global(.swiper-pagination-bullet-active) {
  background: none;
  border: 3px solid #694A04;
}